# python files
*.pyc

# VS code files
*.code-workspace
.vscode

# project specific folders
media
staticfiles
static
geodata
temp
tiles
logs
data

*.sql
*.pgsql
#*.sql

# environment file variables
.env
