SECRET_KEY=
FERNET_SECRET_KEY=
DEBUG=true
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
CORS_ALLOWED_ORIGINS=
DATABASE_URL=postgis://<username>:<password>@<host>:<port>/<db_name>
API_BASE_URL=http://127.0.0.1:8000
API_SECRET_KEY=my-secret-key
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
DEFAULT_LOG_DIR=/path/to/logs